<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.fero.asset.dao.AssetFileMapper">
    <resultMap id="BaseResultMap" type="cn.com.fero.asset.vo.AssetFile">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="asset_id" property="assetId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="file_name" property="fileName" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, asset_id, name, file_name, path, created_at, updated_at, created_by, updated_by, version
  </sql>

    <select id="selectByAssetId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from asset_file
        where asset_id = #{assetId}
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from asset_file
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from asset_file
    where id = #{id}
  </delete>
    <delete id="deleteByAssetId">
        delete from asset_file
        where id = #{id} and asset_id = #{assetId}
    </delete>
    <insert id="insert" parameterType="cn.com.fero.asset.vo.AssetFile" useGeneratedKeys="true" keyProperty="id">
        insert into asset_file (asset_id, name, file_name, path, created_at, updated_at, created_by, updated_by,
      version)
        values (#{assetId},#{fileName}, #{name}, #{path}, #{createdAt}, #{updatedAt}, #{createdBy}, #{updatedBy},
      #{version})
  </insert>
    <update id="updateByPrimaryKey" parameterType="cn.com.fero.asset.vo.AssetFile">
    update asset_file
    set asset_id = #{assetId},
      name = #{name},
        file_name = #{fileName},
      path = #{path},
      created_at = #{createdAt},
      updated_at = #{updatedAt},
      created_by = #{createdBy},
      updated_by = #{updatedBy},
      version = #{version}
    where id = #{id}
  </update>
</mapper>